{% autoescape off %}
    Dear {{ user.first_name }},

    You recently created an account on {{ site_name }}. To activate your account, click this link or copy and paste it into your browser:

    http://{{ domain }}{% url 'accounts:registration_activation' uidb64=uid token=token %}

    Thanks for joining {{ site_name }}!

    If you did not create an account, please ignore this email.(The link will expire in 48 hours and the profile will be deleted.)

    The {{ site_name }} team



{% endautoescape %}